<div class="card">
  <div class="card-title">{{ name }}</div>
  <div class="card-content">
    <p>Счётчик кликов: {{ clickCount }}</p>
    <button class="button" (click)="onClicked()">Нажми</button>
  </div>
</div>

<div class="card">
  <div class="card-title">История кликов</div>
  <div class="card-content">
    <ul>
      <li *ngFor="let time of times; let i = index"
          [ngStyle]="{ color: colors[i % colors.length] }" class="list-item">
        {{ time }}
      </li>
    </ul>
  </div>
</div>
